on:
  workflow_run:
    workflows: [Lint]
    types: [completed]
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
permissions:
  contents: read

jobs:
  build-docker-images:
    name: Build Docker images
    env:
      DOCKERHUB_SECRET: ${{ secrets.DOCKERHUB_TOKEN }}
    # NOTE: Secrets are not available for external contributors, so we skip the job.
    if: ${{ secrets.DOCKERHUB_TOKEN }}
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: docker
          # TODO: for a separate issue, try pushing it
          push: false
          load: true
          tags: autosubmit/autosubmit:latest

      - name: Test the image
        run: |
          docker run --rm autosubmit/autosubmit:latest autosubmit --version
          # https://github.com/BSC-ES/autosubmit/issues/2359
          docker run --rm autosubmit/autosubmit:latest /bin/bash -c '[ -n $USER ] || exit 1'

      - name: Collect docker logs on failure
        if: failure()
        run: |
          # pick the first Docker name in the list
          docker_name="$(docker ps --format="{{.Names}}")"
          # copy back the remote cylc-run dir
          docker exec $(docker ps --format="{{.Names}}") bash -c "mkdir -p /app/autosubmit/extract/; cp -f -r /app/autosubmit/experiments/* /app/autosubmit/extract"
          docker cp ${docker_name}:/app/autosubmit/extract/ ./experiment_data_log/

      - name: Tar logs
        if: failure()
        run: tar cvzf ./experiment_data_log.tgz ./experiment_data_log

      - name: Upload logs to GitHub
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: experiment_data_log.tgz
          path: experiment_data_log.tgz
          retention-days: 7
